<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.css">
　<script src="https://cdn.jsdelivr.net/npm/three@0.134.0/build/three.min.js"></script>
　<script src="https://cdn.jsdelivr.net/npm/photo-sphere-viewer@4/dist/photo-sphere-viewer.min.js"></script>


  <style>
    body, html { margin: 0; height: 100%; }
    #viewer { width: 100%; height: 100vh; }
  </style>
</head>
<body>

<div id="viewer" style="width:100%; height:100vh;"></div>

<script>
  const viewer = new PhotoSphereViewer.Viewer({
    container: document.querySelector('#viewer'),
    panorama: '{{ page.image }}',
    panoData: {
      fullWidth: 16382,
      fullHeight: 3000,
      croppedWidth: 16382,
      croppedHeight: 3000,
      croppedX: 0,
      croppedY: 0
    }
  });
</script>

</body>
</html>
